In [72]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,StandardScaler, OneHotEncoder
import pickle

In [73]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [74]:
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [75]:
# Encode categorical variables
labelencoder_gender  = LabelEncoder()
data['Gender'] = labelencoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [76]:
# OneHotEncoder on GeoGraphy

ohEncoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = ohEncoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns = ohEncoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [77]:
# Drop Geography column from dataframe 'data'

data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [78]:
# Split the data into features and target
X = data.drop('EstimatedSalary',axis=1)
y = data['EstimatedSalary']

In [79]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,0,1.0,0.0,0.0

In [80]:
y

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

In [81]:
# Splitting the Data into train and test data with train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

# Scaling using StandardScaler
scalerR = StandardScaler()

X_train = scalerR.fit_transform(X_train)
X_test = scalerR.fit_transform(X_test)


X_test

array([[-5.12501721e-01,  9.09111664e-01, -6.77299309e-01, ...,
        -1.02020406e+00,  1.73668197e+00, -5.63491843e-01],
       [-2.36046598e-01,  9.09111664e-01,  3.84298354e-01, ...,
         9.80196059e-01, -5.75810666e-01, -5.63491843e-01],
       [-4.61306328e-01, -1.09997489e+00,  4.80807232e-01, ...,
        -1.02020406e+00, -5.75810666e-01,  1.77464858e+00],
       ...,
       [ 8.59534812e-01, -1.09997489e+00,  7.70333868e-01, ...,
         9.80196059e-01, -5.75810666e-01, -5.63491843e-01],
       [ 4.70449825e-01,  9.09111664e-01, -9.66825944e-01, ...,
         9.80196059e-01, -5.75810666e-01, -5.63491843e-01],
       [-1.84851205e-01,  9.09111664e-01, -1.73715981e-03, ...,
        -1.02020406e+00,  1.73668197e+00, -5.63491843e-01]])

In [82]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [83]:
# Saving the encoders and scaler 
with open("ohEncoder_geo.pkl",'wb') as file:
    pickle.dump(ohEncoder_geo,file)

with open("labelencoder_gender.pkl",'wb') as file:
    pickle.dump(labelencoder_gender,file)

with open("scalerR.pkl",'wb') as file:
    pickle.dump(scalerR,file)

# the name of the pickle file saved should be same name as method/function like scalerR, labelencoder_gender, ohEncoder_geo

In [84]:
import tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [85]:
# ANN Regression problem statement


model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), # Hidden layer1 connected with input layer
    Dense(32,activation='relu'),   # Hidden layer2 connected with hidden layer1
    Dense(1)   # Output layer
])

model.compile(optimizer = 'adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

/Users/gopibipaneni/Documents/All/React/Langchain/lanvenv/lib/python3.12/site-packages/keras/src/layers/core/dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_9 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_10 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_11 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [86]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime


## Setup the tensor board
log_dir = "regressionlogs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir = log_dir,histogram_freq=1)

# Set Up Early Stopping
early_stop_callback = EarlyStopping(monitor = 'val_loss',patience=10,restore_best_weights=True)

In [87]:
history = model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs = 100,
    callbacks = [early_stop_callback,tensorflow_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 100372.5703 - mae: 100372.5703 - val_loss: 98494.1875 - val_mae: 98494.1875
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 846us/step - loss: 99530.6797 - mae: 99530.6797 - val_loss: 96789.4609 - val_mae: 96789.4609
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 841us/step - loss: 96580.3359 - mae: 96580.3359 - val_loss: 92472.2969 - val_mae: 92472.2969
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 836us/step - loss: 90857.0000 - mae: 90857.0000 - val_loss: 85378.9609 - val_mae: 85378.9609
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 841us/step - loss: 82596.8594 - mae: 82596.8594 - val_loss: 76361.9297 - val_mae: 76361.9297
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 846us/step - loss: 73134.2109 - mae: 73134.2109 - val_loss: 67334.2969 - val_mae: 67334.2969
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 859us/step - loss: 64294.8477 - mae: 64294.8477 - val_loss: 59755.9961 - val_mae: 59755.9961
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 57573.5078 - mae: 57573.5078 - val_loss: 54662.8438 - val_mae: 54662.8438
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 854us/step - loss: 53572.0742 - mae: 53572.0742 - val_loss: 51986.0547 - val_mae: 51986.0547
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 874us/step - loss: 51558.9492 - mae: 51558.9492 - val_loss: 50935.7109 - val_mae: 50935.7109
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 850us/step - loss: 50703.9922 - mae: 50703.9922 - val_loss: 50583.7695 - val_mae: 50583.7695
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 837us/step - loss: 50333.1562 - mae: 50333.1562 - val_loss: 50460.7578 - val_mae: 50460.7578
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 835us/step - loss: 50160.0469 - mae: 50160.0469 - val_loss: 50409.9531 - val_mae: 50409.9531
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 838us/step - loss: 50062.6094 - mae: 50062.6094 - val_loss: 50388.9141 - val_mae: 50388.9141
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 836us/step - loss: 49998.1367 - mae: 49998.1367 - val_loss: 50371.4023 - val_mae: 50371.4023
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 833us/step - loss: 49952.3984 - mae: 49952.3984 - val_loss: 50350.3359 - val_mae: 50350.3359
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49918.8789 - mae: 49918.8789 - val_loss: 50330.8047 - val_mae: 50330.8047
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 836us/step - loss: 49881.6055 - mae: 49881.6055 - val_loss: 50324.0625 - val_mae: 50324.0625
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 834us/step - loss: 49849.8320 - mae: 49849.8320 - val_loss: 50315.6680 - val_mae: 50315.6680
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 858us/step - loss: 49823.6953 - mae: 49823.6953 - val_loss: 50306.5977 - val_mae: 50306.5977
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 860us/step - loss: 49799.2773 - mae: 49799.2773 - val_loss: 50307.4805 - val_mae: 50307.4805
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 851us/step - loss: 49775.7344 - mae: 49775.7344 - val_loss: 50302.2188 - val_mae: 50302.2188
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 846us/step - loss: 49754.1289 - mae: 49754.1289 - val_loss: 50281.7852 - val_mae: 50281.7852
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 838us/step - loss: 49731.4648 - mae: 49731.4648 - val_loss: 50276.3164 - val_mae: 50276.3164
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 839us/step - loss: 49711.5430 - mae: 49711.5430 - val_loss: 50274.1328 - val_mae: 50274.1328
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 859us/step - loss: 49698.4297 - mae: 49698.4297 - val_loss: 50269.5352 - val_mae: 50269.5352
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 857us/step - loss: 49679.7812 - mae: 49679.7812 - val_loss: 50264.5078 - val_mae: 50264.5078
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49661.3906 - mae: 49661.3906 - val_loss: 50253.9219 - val_mae: 50253.9219
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 835us/step - loss: 49646.8477 - mae: 49646.8477 - val_loss: 50252.4648 - val_mae: 50252.4648
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 837us/step - loss: 49637.0273 - mae: 49637.0273 - val_loss: 50251.5859 - val_mae: 50251.5859
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 831us/step - loss: 49619.4375 - mae: 49619.4375 - val_loss: 50248.2578 - val_mae: 50248.2578
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 829us/step - loss: 49608.0742 - mae: 49608.0742 - val_loss: 50256.7070 - val_mae: 50256.7070
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 845us/step - loss: 49594.9922 - mae: 49594.9922 - val_loss: 50249.0391 - val_mae: 50249.0391
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 862us/step - loss: 49582.1016 - mae: 49582.1016 - val_loss: 50255.7852 - val_mae: 50255.7852
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 847us/step - loss: 49572.7383 - mae: 49572.7383 - val_loss: 50245.2070 - val_mae: 50245.2070
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 846us/step - loss: 49567.2188 - mae: 49567.2188 - val_loss: 50240.4492 - val_mae: 50240.4492
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 899us/step - loss: 49553.9766 - mae: 49553.9766 - val_loss: 50246.5234 - val_mae: 50246.5234
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49546.9414 - mae: 49546.9414 - val_loss: 50241.8477 - val_mae: 50241.8477
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 869us/step - loss: 49538.6289 - mae: 49538.6289 - val_loss: 50250.2188 - val_mae: 50250.2188
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 862us/step - loss: 49525.8008 - mae: 49525.8008 - val_loss: 50233.6445 - val_mae: 50233.6445
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 857us/step - loss: 49519.6094 - mae: 49519.6094 - val_loss: 50240.3789 - val_mae: 50240.3789
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 862us/step - loss: 49514.7148 - mae: 49514.7148 - val_loss: 50240.8555 - val_mae: 50240.8555
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 859us/step - loss: 49503.3359 - mae: 49503.3359 - val_loss: 50248.1250 - val_mae: 50248.1250
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 840us/step - loss: 49496.9727 - mae: 49496.9727 - val_loss: 50245.3711 - val_mae: 50245.3711
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 837us/step - loss: 49494.2930 - mae: 49494.2930 - val_loss: 50247.5547 - val_mae: 50247.5547
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 835us/step - loss: 49484.1055 - mae: 49484.1055 - val_loss: 50246.6836 - val_mae: 50246.6836
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 840us/step - loss: 49476.2109 - mae: 49476.2109 - val_loss: 50244.0430 - val_mae: 50244.0430
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 849us/step - loss: 49471.4648 - mae: 49471.4648 - val_loss: 50236.6133 - val_mae: 50236.6133
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 823us/step - loss: 49463.5938 - mae: 49463.5938 - val_loss: 50244.3906 - val_mae: 50244.3906
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 842us/step - loss: 49458.4961 - mae: 49458.4961 - val_loss: 50244.8867 - val_mae: 50244.8867

In [88]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [89]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6009 (pid 49885), started 0:37:55 ago. (Use '!kill 49885' to kill it.)

In [90]:
test_loss,test_mae = model.evaluate(X_test,y_test)
print(f"test MAE: {test_mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - loss: 50233.6445 - mae: 50233.6445
test MAE: 50233.64453125

In [91]:
model.save("regression_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [92]:
print(label_encoder_gender.classes_)
# ['Female' 'Male']

['Female' 'Male']